<?xml version="1.0" encoding="UTF-8"?>
<beans
		xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="propertyConfigurer" class="com.domain.holder.PropertyHolder">
		<property name="locations">
			<list>
				<value>classpath:db.properties</value>
				<value>classpath:common.properties</value>
			</list>
		</property>
	</bean>

	<import resource="classpath:/spring/datasource-config-spring.xml"/>

	<bean id="springTableOperatorBean" class="com.domain.dao.TableOperator"
		  scope="prototype">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>

	<bean id="defaultProcess" class="com.domain.process.DefaultProcess"/>

</beans>
